extends ../layout
include ../partials/comment
include ../partials/announce-card

block content
  section.comments
    .comments__wrapper
      h1.visually-hidden Страница комментариев
      if offers.length
        each offer in offers
          .comments__block
            .comments__header
              +announceCard(offer)
            ul.comments-list
              each comment in offer.comments
                li.js-card
                  +comment(comment)
      else
        p.comments__message У ваших публикаций еще нет комментариев.
