mixin comment(comment)
  .comment-card
    .comment-card__header
      a.comment-card__avatar.avatar(href="#")
        img(src=`img/${comment.avatar}.jpg` srcset=`img/${comment.avatar}@2x.jpg 2x` alt="Аватар пользователя")
      p.comment-card__author= comment.author
    .comment-card__content
      p
        | #{comment.content}
    button.comment-card__delete.js-delete(type="button") Удалить
